.HomePage {
  color: white;
  text-align: center;
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content {
  margin: auto;
  max-width: 800px;
  font-size: 25px;
  padding: 20px;
  border-radius: 20px;
  background: rgba(33, 37, 33, 0.6);
}

.title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: bold;
  color: #fff;
  font-size: 90px;
  font-style: italic;
  font-family: 'Fascinate Inline', cursive;
  text-shadow: 1px 1px 2px #000000;
}

.btn {
  border: 1px solid black;
  display: inline-block;
  background: white;
  border-radius: 5px;
  padding: 10px 8px;
  font-weight: bold;
  color: #000;
  font-family: 'arial';
  font-style: italic;
  font-size: 10px;
}

/* .btn-large {
  font-size: 48px;
  padding: 15px 20px;
}
.btn-small {
  font-size: 28px;
}
.btnWrapper {
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
} */
body {
  margin: 0;
  /* height: 100vh; */
}
